<div class="home-callout text-center container-fluid">
  <h1>We are DevMatch</h1>
</div>
  <div class="container-fluid text-center"
  <p>Our company focuses on creating an exclusive community
  for developers and entrepreneurs to meet. </p>
